@import './base.css';

html {
  /* thanks to https://codepen.io/elstgav/details/myEJNv */
  margin-left: calc(100vw - 100%);
}

#app {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a {
  text-decoration: none;
  color: rgb(189, 76, 0);
  transition: 0.4s;
}

h1 {
  color: rgb(189, 76, 0);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(14, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
  }
}
